<!DOCTYPE html>
<html ng-app="plunker">

  <head>
    <meta charset="utf-8" />
    <title>Instagram Searcher</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.3/angular.js" data-semver="1.4.3"></script>
    <script src="app.js"></script>
  </head>

  <body ng-controller="MainCtrl">
    <div class="container">
      <div class="row">

        <!-- <div class="col-md-1"></div> -->
        <div class="col-sm-12 col-xs-12 col-md-12 text-center">
          <div class="col-md-12">
            <img src="images/ng-instagram.png">
          </div>

          <div class="col-md-12">
            <form ng-submit="submit()">
              <input type="text" name="search" ng-model="search" required ng-minlength="3">

              <input type="submit">
            </form>
          </div>

          <div class="col-md-12">
            <p ng-if="searchQuery && searchQueryAmt == 0">Searching Instagram for photos tagged with "{{ searchQuery }}"</p>

            <p ng-if="searchQueryAmt > 0">We found {{ searchQueryAmt }} results for "{{ searchQuery }}"</p>

            <p ng-if="searchQueryAmt == 0 && searchQuery">We were unable to find any results for "{{ searchQuery }}"</p>
          </div>

          <div class="col-md-12 xfade" ng-if="successfulQuery">
            <ul class="listing">
              <li ng-repeat="item in dataSet">
                <a ng-href="{{item.link}}"><img ng-src="{{item.images.low_resolution.url}}"></a>
              </li>
            </ul>
          </div>
        </div>
<!--         <div class="col-md-1"></div>
 -->
      </div> <!-- end of row //-->
    </div> <!-- end of container //-->
  </body>

</html>